.spotlight-text {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-style: 8rem;
  position: relative;
}

.spotlight-text::after {
  content: attr(data-spotlight);
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: ellipse(100px 100px at 0% 50%);
  clip-path: ellipse(100px 100px at 0% 50%);
  animation: spotlight 5s infinite;
  background-image: linear-gradient(110.7deg, #ff512f 1.7%, #ffa72f 8.2%, #dafd01 16.2%, #62ea14 23.4%, #45c12a 32.8%, #07f995 43.7%, #06c8d9 55.3%, #1233e9 65.5%, #7a3bca 74.5%, #e707f9 82.3%, #ca3ba3 91.4%);
  background-size: 150%;
  background-position: center center;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes spotlight {
  0% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
  }
  50% {
    -webkit-clip-path: ellipse(100px 100px at 100% 50%);
    clip-path: ellipse(100px 100px at 100% 50%);
  }
  100% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
  }
}
