#Error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .svg {
    background-image: url(/image/Error/dribbble_big.webp);
  }
  svg {
    width: 800px;
    height: 600px;
    margin: auto;
  }
}
