.APP,
.backstage-page {
  height: 100%;
}
.backstage-page {
  .backstage-header {
    height: 32px;
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 40px;
  }
  .backstage-content {
    background-color: #ffffff;
  }
  .backstage-sider {
    background-color: #f5f5f5;
    .ant-menu {
      background-color: transparent;
    }
  }
}
