.icon-select-modal {
  .icon-box {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    .icon-item {
      width: 120px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #f5f5f5;
      border-radius: 5px;
      margin: 5px;
      padding: 10px 10px 5px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background: #1890ff;
        color: #fff;
        .scroll-content {
          animation: 5s textScroll linear infinite normal;
        }
      }
      .scroll-box {
        max-width: 100px;
        overflow: hidden;
        margin: 10px 0 0;
        font-size: 14px;
        .scroll-content {
          white-space: nowrap;
          text-align: center;
          margin: 0;
          span {
            display: inline-block;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@keyframes textScroll {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(0%);
  }
}
