.icon-select-modal .icon-box {
  width: 100%;
  height: 400px;
  overflow-y: auto;
}

.icon-select-modal .icon-box .icon-item {
  width: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 10px 5px;
  cursor: pointer;
  transition: 0.3s;
}

.icon-select-modal .icon-box .icon-item:hover {
  background: #1890ff;
  color: #fff;
}

.icon-select-modal .icon-box .icon-item:hover .scroll-content {
  animation: 5s textScroll linear infinite normal;
}

.icon-select-modal .icon-box .icon-item.active {
  background: #1890ff;
  color: #fff;
}

.icon-select-modal .icon-box .icon-item .scroll-box {
  max-width: 100px;
  overflow: hidden;
  margin: 10px 0 0;
  font-size: 14px;
}

.icon-select-modal .icon-box .icon-item .scroll-box .scroll-content {
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

.icon-select-modal .icon-box .icon-item .scroll-box .scroll-content span {
  display: inline-block;
  white-space: nowrap;
}

.icon-select {
  font-size: 20px;
  cursor: pointer;
  border: 1px dashed #d9d9d9;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes textScroll {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(0%);
  }
}
