.main-info {
  position: relative;
}

.main-info .bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: #111111;
}

.main-info .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  top: 0;
}

.main-info .content .flex-weather {
  position: absolute;
  left: 42px;
  top: 29px;
}
