.VFSSList-Box {
  width: 100%;
}

.VFSSList-Box .VFSSList {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.VFSSList-Box .VFSSListAnchor {
  position: fixed;
  top: 50%;
  right: 10px;
  list-style: none;
  margin-bottom: 0;
}

.VFSSList-Box .VFSSListAnchor li {
  width: 20px;
  height: 20px;
  background: #ffffff;
  margin: 5px 0;
  transition: 0.3s;
}

.VFSSList-Box .VFSSListAnchor li.active {
  background: #979797;
}
