.system-menu-view {
  height: auto;
  Button {
    margin: 0 5px;
  }
  .content-box {
    display: flex;
    .menu-tree {
      width: 200px;
      min-height: 500px;
      margin-right: 10px;
      .ant-card-body {
        padding: 1px 0 0;
      }
      .ant-tree-treenode {
        padding: 8px 0;
      }
    }
    .content-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      .menu-box {
        width: 100%;
      }
      .ant-card {
        margin-bottom: 10px;
      }
    }
  }
}
