.system-menu-view {
  height: auto;
}

.system-menu-view Button {
  margin: 0 5px;
}

.system-menu-view .content-box {
  display: flex;
}

.system-menu-view .content-box .menu-tree {
  width: 200px;
  min-height: 500px;
  margin-right: 10px;
}

.system-menu-view .content-box .menu-tree .ant-card-body {
  padding: 1px 0 0;
}

.system-menu-view .content-box .menu-tree .ant-tree-treenode {
  padding: 8px 0;
}

.system-menu-view .content-box .content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.system-menu-view .content-box .content-box .menu-box {
  width: 100%;
}

.system-menu-view .content-box .content-box .ant-card {
  margin-bottom: 10px;
}
