.system-menu-view {
  height: auto;
  .handler-box {
    margin-bottom: 10px;
    Button {
      margin: 0 5px;
    }
  }
  .content-box {
    display: flex;
    .menu-tree {
      width: 200px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
