.system-role-view .handler-box {
  margin-bottom: 10px;
}

.system-role-view .handler-box Button {
  margin: 0 5px 0 0;
}

.system-role-view .content-box {
  display: flex;
}

.system-role-view .content-box .role-list .list {
  width: 200px;
  margin-right: 10px;
}
